version: "3.9"

services:
  redis:
    image: redis:alpine
    container_name: redis-auth2fa
    restart: always
    ports:
      - 6379:6379
    entrypoint: ["redis-server", "--appendonly", "yes"]